@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/* 
.bg-url {
  background-image: url("/bg-head.jpg");
} */

.bg-blackOverlay {
  background-image: linear-gradient(
    to bottom,
   rgba(255, 255, 255, 1)0%
    rgba(0, 108, 84, 1) 50%,
    
  );
  background: linear-gradient(360deg, #006C54 0%, #FFFFFF 100%);

 


}
.background-container {
  position: relative;
  max-width: 100%;
  height: 100%;
  overflow: hidden;
}

.background-container::before {
  content: "";
  background-image: url("/bg-head.svg"); /* Correct path without /public prefix */
  background-size: cover;
  background-position: center;
  /* opacity: 0.24; Set opacity to 24% */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 
}

.navbar {
  transition: transform 0.5s ease-in-out;
}

.navbar-hidden {
  transform: translateY(-100%);
}
.glow {
  filter: drop-shadow(0 0 200px rgb(0, 204, 128));
}
.placeholder-black::placeholder {
  /* Standard */
  color: #000000;
}
.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.custom-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50; /* Change this to your desired color */
  cursor: pointer;
  border-radius: 50%;
}

.custom-slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50; /* Change this to your desired color */
  cursor: pointer;
  border-radius: 50%;
}
/* <link rel="icon" href="/favicon.ico" type="image/x-icon"> */

/* <FilesMatch "favicon.ico"> */
    /* Header set Cache-Control "max-age=31536000, public" */
/* </FilesMatch> */


.custom-checkbox {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 0.5px solid black;
  background-color: white;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  cursor: pointer;
}

.custom-checkbox:checked {
  background-color: #4CAF50;
  scale: 1.2;
}

/* custome scroll bar */
/* Custom scrollbar styles */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px; /* Very thin width */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #000; /* Black color for the scrollbar thumb */
  border-radius: 10px; /* Rounded corners */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #D6D6D6; /* Light gray color for the scrollbar track */
}


/* Remove scrollbar arrows */
.custom-scrollbar::-webkit-scrollbar-button {
  display: none; /* Hide the arrows */
}